<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/cv.css">
    <link rel="icon" href="../images/fox_logo.png" type="image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Tsele</title>
</head>

<body>
    <div class="lineContainer">
        <svg class="line" viewBox="0 0 77 959" fill="none" preserveAspectRatio="xMidYMax meet">
            <path
                d="M43 425.5L54 419.5L43 440.092M43 425.5L32.5 413.5M43 425.5V440.092M43 440.092L27.5 421.5L32.5 413.5M43 440.092V460.5M32.5 413.5L43 396.5L64 421.5L43 460.5M32.5 413.5H48L31.5 398M43 460.5L31.5 440.092M43 460.5V481.5M31.5 440.092L15 419.5L20.6792 412.5M31.5 440.092L43 481.5M31.5 440.092L36.254 432L31.5 406L20.6792 412.5M20.6792 412.5L31.5 398M20.6792 412.5V396.5L15 388.5V375.5L31.5 398M20.6792 412.5V448L1 425.5V427M31.5 398L43 382.5L75 419.5L43 481.5M43 481.5V959M43 424.5V0"
                stroke="#5F41D6" stroke-width="2" />
        </svg>
    </div>
    <div class="cvContainer">
        <section>
            <img src="/images/fox_logo.png" alt="Logo">
            <h1>Welcome traveler!</h1>
            <h6>--scroll to investigate--</h6>
        </section>
        <section>
            <h3>#about-me</h3>
            <p>My name is Evangelos Tselepidis and I am 24 years old. I was born in Thessaloniki,
                which is the second capital of Greece, and I still live there</p>
        </section>
        <section>
            <h3>#school</h3>
            <p>I am an undergraduate student of Informatics at Aristotle University of Thessaloniki</p>
        </section>
        <section>
            <h3>#skills</h3>
            <p>I have good experience in C/C++, Java, HTML and CSS. I also have some experience in JavaScript, Python,
                NodeJs and MongoDB</p>
        </section>
        <section>
            <h3>#projects</h3>
            <p>Every project is uploaded on github which is linked at the bottom of the page</p>
        </section>
        <section>
            <h3>#what-i-love</h3>
            <p>I love learning. With it I can contribute to the community, meet instresting individuals and be part of
                beautiful creations</p>
        </section>
        <section>
            <h3>#find-me</h3>
            <p>git_ <a href="https://github.com/Tselepie"><em class="fab fa-2x fa-github"></em></a></p>
            <p>email_ <span class="iconify" data-icon="logos:google-gmail" data-width="2em"></span></p>
        </section>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/BezierPlugin.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="/js/cv.js"></script>
</body>

</html>
